form .ng-invalid-required.ng-dirty {
  background-color: lightpink;
}

form .ng-invalid-email.ng-dirty {
  background-color: lightgoldenrodyellow;
}

form .ng-valid.ng-dirty {
  background-color: lightgreen;
}

span.summary.ng-invalid {
  color: red;
  font-weight: bold;
}

span.summary.ng-valid {
  color: green;
}

div.error {
  color: red;
  font-weight: bold;
}

table th label {
  line-height: 0.85rem;
  padding-left: 0.2rem;
}
