<form style="padding:5rem 0.5rem 0.5rem">

  <div class="form-group">
    <label for="searchText">{{translation.Find_article}}</label><br />
    <!-- <input placeholder="enter the title of the article" ng-model="textTitle" type="text" id="searchText">   -->
    

    <md-autocomplete
    md-selected-item="selectedItem"
    md-selected-item-change="updateAutocomplete(selectedItem.title)"
    md-search-text="searchText"
    md-search-text-change="cl(searchText)"
    md-items="item in querySearch(searchText)"
    md-item-text="item.title"
    md-min-length="0"
    placeholder={{translation.placeholder}}
    md-hide-autocomplete-on-enter>
  
  <md-item-template>
    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.title}}</span>
  </md-item-template>
  <md-not-found>No matches found.</md-not-found>

</md-autocomplete>
  </div>
  
  <div class="d-flex justify-content-between">

      <button class="btn btn-primary btn-sm" ng-click="createItem()">{{translation.New_article}}</button>
  </div>

</form>

<div class="container-fluid" >
  <table class="table">
      <tbody>
          <tr>
              <th>{{translation.Title}}</th>
              <th>{{translation.Article}}</th>
              <th></th> 
              <th class="d-flex pt-3"><input type="checkbox" ng-model="selectedAll" ng-click="updateSelect(selectedAll)" id="sellAll" /><label for="sellAll">{{translation.Selected}}</label></th> 
              <th>{{translation.Date}}</th>
              <th></th>
          </tr>
          <tr ng-repeat="item in items">
              <td>{{item.title}}</td>
              <td>{{item.body}}</td>
              <td></td>
              <td><input type="checkbox" ng-model="item.selected" ng-click="update(item)" /></td>
              <td>{{item.dateCreation | date:"dd.MM.yyyy"}}</td>
              <td>                
                <button ng-click="editItem(item)" type="submit" class="btn btn-outline-primary mr-auto btn-sm">Edit</button>
                <button ng-click="delete(item)" type="submit" class="btn btn-outline-danger mr-auto btn-sm">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

